version: "3.8"

services:
  backend:
    build:
      context: ./docker/backend
      dockerfile: Dockerfile
    container_name: ilnia_backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/var/www/app
    working_dir: /var/www/app
    tty: true

  frontend:
    build:
      context: ./frontend
      dockerfile: ../docker/frontend/Dockerfile
    container_name: ilnia_frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
      - /app/node_modules
    working_dir: /app
    stdin_open: true
    tty: true
    environment:
      - HOST=0.0.0.0
      - CHOKIDAR_USEPOLLING=true
      - WATCHPACK_POLLING=true
